Click==7.0
Flask==1.1.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
SQLAlchemy==1.3.17
Werkzeug==0.16.0
json5==0.9.5
jsonschema==3.2.0
psycopg2==2.8.6
flask_restful==0.3.8