<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><center>FokusApp Rest Api</center></h1>
    <h3>Options:</h3>
    <ul>
      <li>/quoteInfo - Fetches all <i>Quote</i> data from database</li>
      <li>/qutoteInfo?quoteID=<b>writehere</b> - Fetches only the <i>Quote</i> data from the database where quoteID matches quoteDay_Key</li><br>
      <li>/appInfo - Fetches all <i>App</i> data from database</li><br>
      <li>/notesInfo - Fetches all <i>Notes</i> data from database</li>
      <li>/notesInfo?email=<b>writehere</b>& noteID=<b>writehere</b> - Fetches only the <i>Notes</i> data from the database where noteID matches note_id & email matches email</li><br>
      <li>/scheduleInfo - Fetches all <i>Schedule</i> data from database</li><br>
      <li>/scheduleUpdate?email=<b>writehere</b>&eventStatus=<b>writehere</b> - Updates the specific date&time status. write <b>True</b> for the <b>eventStatus</b> if the event has <b>occured</b>. False is default.</li><br>
      <li>/uploadNotes - Upload a <b>.txt</b> type file</li>
    </ul>
  </body>
</html>
