<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><center>FokusApp Rest Api</center></h1>
    <h3>Options:</h3>
    <ul>
      <li>/accounts - <b>GET</b> or <b>Posts</b> <i>Accounts</i> data from database</li>
      <li>/quotes - <b>GET</b> or <b>Posts</b> <i>Quotes</i> data from database</li>
      <li>/notes - <b>GET</b> or <b>Posts</b> <i>Notes</i> data from database. <b>Insert</b> methodusing JSON is available via this link</li>
      <li>/notesXml - <b>GET</b> or <b>Posts</b> <i>Notes</i> data from database. <b>Insert</b> methodusing XML is available via this link</li>
      <li>/notes - <b>GET</b> or <b>Posts</b> <i>Notes</i> data from database. <b>Insert</b> methodusing JSON is available via this link</li>
      <li>/notesDelete - Delete using <b>GET</b> or <b>POST</b>request with JSON data</li>
      <li>/notesDelete - Delete using <b>GET</b> or <b>POST</b>request with XML data</li>
      <li>/notesUpdate - Update note entry using <b>POST</b>request with JSON data</li>
      <li>/notesUpdateXml - Update note entry using <b>POST</b>request with Xml data</li>
      <li>/events - <b>GET</b> or <b>Posts</b> <i>Events</i> data from database. <b>Delete</b> method is available using Post.</li>
    </ul>
  </body>
</html>
