<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><center>FokusApp Rest Api</center></h1>
    <h3>Options:</h3>
    <ul>
      <li>/accounts - Gets or Posts <i>Accounts</i> data from database</li>
      <li>/quotes - Gets or Posts <i>Quotes</i> data from database</li>
      <li>/notes - Gets or Posts <i>Notes</i> data from database</li>
      <li>/events - Gets or Posts <i>Events</i> data from database</li>
    </ul>
  </body>
</html>
